.carousel {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: fit-content;
  margin: 0 auto;
}

.carousel__title {
  font-weight: 500;
  font-size: 14px;
  color: #1a1a1a80;
  text-align: center;
  margin-bottom: 8px;
}

.carousel__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.carousel__card {
  padding: 20px;
  height: 300px;
  width: 440px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #64d583;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__card_color_green {
  background-color: #64d583;
}

.carousel__card_color_blue {
  background-color: #91a8f9;
}

.carousel__card_color_pink {
  background-color: #ee92d7;
}

.carousel__card_color_purple {
  background-color: #aa8ef0;
}

.carousel__card_color_orange {
  background-color: #ee955e;
}

.carousel__card_color_yellow {
  background-color: #f5d770;
}

.carousel__card_color_white {
  background-color: white;
}

.carousel__btn {
  opacity: 0.5;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
}

.carousel__btn:hover {
  opacity: 1;
  cursor: pointer;
}

.carousel__btn_disabled {
  opacity: 0.2;
  pointer-events: none;
}

.carousel__btn_type_left::before {
  background-image: url("../images/left.svg");
}

.carousel__btn_type_right::before {
  background-image: url("../images/right.svg");
}

.carousel__btn_type_flip::before {
  background-image: url("../images/flip.svg");
}

.carousel__btn_type_left::before,
.carousel__btn_type_right::before,
.carousel__btn_type_flip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
