.decks {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.decks__title {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

.decks__list {
  list-style-type: none;
  display: contents;
}

.decks__new-deck-btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  background-color: #d9d9d9;
  width: 325px;
  height: 205px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  box-sizing: border-box;
  border: none;
}

.decks__new-deck-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
  cursor: pointer;
}

.deck {
  width: 325px;
  height: 205px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.deck__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.deck__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.deck__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.deck__count {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.deck__delete-btn {
  height: 24px;
  aspect-ratio: 1;
  background-color: transparent;
  opacity: 50%;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.deck__delete-btn:hover {
  opacity: 100%;
}

.deck_color_green {
  background-color: #64d583;
}

.deck_color_blue {
  background-color: #91a8f9;
}

.deck_color_pink {
  background-color: #ee92d7;
}

.deck_color_purple {
  background-color: #aa8ef0;
}

.deck_color_orange {
  background-color: #ee955e;
}

.deck_color_yellow {
  background-color: #f5d770;
}
