.page {
  background-color: #ececec;
  max-width: 1440px;
  padding: 20px 40px 0;
  margin-block: 0;
  margin-inline: auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #1a1a1a;
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.page__main-content {
  margin-top: 60px;
  display: flex;
  flex-grow: 1;
  margin-bottom: 138px;
}

.page__main-content_location_carousel {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 20px;
  }
  .page__main-content {
    margin-top: 42px;
  }
}
